{% extends 'base.html' %}

{% block style %}
<style>
  /* General Dashboard Styles */
  .dashboard {
    padding: 20px;
  }

  /* Card Styles */
  .card {
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .card-body {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .card-body:hover {
    background-color: #e2e6ea;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Chart Container Styles */
  .chart-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .chart-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* Totals Section */
  #total-mensual,
  #total-diario,
  #total-hoja-verde,
  #total-hoja-verde {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .total-highlight {
    font-size: 16px;
    font-weight: bold;
    color: #dc3545;
    /* Rojo */
    text-align: center;
    margin-top: 15px;
  }

  /* Styled Pesajes */
  .styled-pesajes {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    color: #f60909;
    /* Rojo */
  }

  .pesaje-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
  }

  .pesaje-item:hover {
    background-color: #e6f7ff;
    /* Azul claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .pesaje-item strong {
    color: #007bff;
    /* Azul */
    font-size: 14px;
  }

  .pesaje-item span {
    font-weight: bold;
    color: #28a745;
    /* Verde */
    font-size: 18px;
  }

  /* Titles */
  .card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }

  .display-4 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  #pesaje-actual {
    font-size: 5rem;
    font-weight: bold;
    color: #dc3545;
    /* Rojo vibrante */
    text-align: center;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .chart-container {
      padding: 10px;
    }

    .card {
      padding: 15px;
    }

    .card-body {
      padding: 10px;
    }
  }
</style>



{% endblock %}

{% block content %}
<div class="dashboard">
  <h2 class="text-center">Monitor de Pesajes y Rendimiento</h2>

  <!-- Información del producto y pesaje actual -->
  <div class="row my-4">
    <!-- Columna para Producto Actual y Pesaje Actual -->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="text-primary">Producto Actual:</h5>
              <p id="producto-actual" class="display-4 text-success">Cargando...</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="text-primary">Pesaje Actual:</h5>
              <p id="pesaje-actual" class="display-4 text-danger">Cargando...</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="text-primary">Lote Actual:</h5>
              <p id="lote-actual" class="display-4 text-info">Cargando...</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="text-primary">Bolsa Nro:</h5>
              <p id="pesaje-id" class="display-4 text-warning">Cargando...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Columna para Total Diario por Producto -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="text-center">Total Diario por Producto</h5>
          <div id="total-diario" class="styled-pesajes">Cargando...</div>
          
          <h5 class="text-center">Total Mensual por Producto</h5>
          <div id="total-mensual" class="styled-pesajes">Cargando...</div>
          
          <h5 class="text-center">Total Hoja Verde</h5>
          <div id="total-hoja-verde" class="styled-hoja-verde">
            <div class="hoja-verde-item">
              <span class="label">Ingreso Diario:</span>
              <span id="hoja-verde-diario" class="value">Cargando...</span>
            </div>
            <div class="hoja-verde-item">
              <span class="label">Acumulado Mensual:</span>
              <span id="hoja-verde-mensual" class="value">Cargando...</span>
            </div>
          </div>
          <h5 class="text-center">Rendimiento</h5>
          <div id="Rendimiento" class="styled-pesajes">Cargando...</div>
        </div>
      </div>
    </div>


  </div>

  {% if 'usuario' in session %}
  {% if session['rol'] == 'ADMINISTRADOR' %}
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <!-- <h5>Gráfico de Productos</h5> -->
          <iframe src="/dash/" style="width: 100%; height: 600px; border: none;"></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráfico del pesaje por hora -->
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5>Pesajes por Hora</h5>
          <div id="bokeh-pesajes">
            <iframe src="/bokeh/pesajes" style="width: 100%; height: 450px; border: none;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráfico de rendimiento por empleado -->
  <!-- <div class="row my-4">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5>Rendimiento por Empleado</h5>
            <div id="bokeh-rendimiento">
              <iframe src="/bokeh/rendimiento" style="width: 100%; height: 450px; border: none;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
  {% endif %}
  {% endif %}
  {% endblock %}

  {% block scripts %}
  <script>
    // Función para inicializar la página
    document.addEventListener("DOMContentLoaded", function () {
      // Cargar los datos inicialmente
      actualizarPesajeYProducto();

      // Actualizar los datos cada 5 segundos
      setInterval(actualizarPesajeYProducto, 5000);
    });

    // Función para actualizar el pesaje actual y el producto actual con AJAX
    function actualizarPesajeYProducto() {
      fetch('/api/datos', { method: 'GET', headers: { 'Content-Type': 'application/json' } })
        .then(response => response.json())
        .then(data => {
          if (data) {
            // Actualizar los elementos del DOM con los datos del producto, pesaje, lote y pesaje_id
            document.getElementById("producto-actual").innerText = data.producto_actual || "No disponible";
            document.getElementById("pesaje-actual").innerText = (data.pesaje_actual || 0) + " kg";
            document.getElementById("lote-actual").innerText = data.lote_actual || "No disponible";  // Actualiza lote
            document.getElementById("pesaje-id").innerText = data.pesaje_id || "No disponible";  // Actualiza pesaje_id

            // Llama a la función para actualizar las estadísticas
            actualizarEstadisticas();
          } else {
            console.error("Error: Los datos recibidos están vacíos.");
          }
        })
        .catch(error => console.error('Error al actualizar los datos:', error));
    }

    // Función para actualizar estadísticas de pesajes (total diario, mensual y rendimiento)
function actualizarEstadisticas() {
  fetch('/api/estadisticas', { method: 'GET', headers: { 'Content-Type': 'application/json' } })
    .then(response => {
      if (!response.ok) {
        throw new Error(`Error en la respuesta: ${response.statusText}`);
      }
      return response.json();
    })
    .then(data => {
      // Total Diario por Producto
      // console.log(data);
      const totalDiarioDiv = document.getElementById("total-diario");
      if (totalDiarioDiv) {
        let totalDiarioHTML = "";
        if (data.total_diario && data.total_diario.length > 0) {
          data.total_diario.forEach(item => {
            totalDiarioHTML += `
            <div class="pesaje-item">
              <strong>${item.producto}:</strong>
              <span>${item.total_diario} kg</span>
            </div>`;
          });
        } else {
          totalDiarioHTML = "<p>No hay datos disponibles para el total diario por producto.</p>";
        }
        totalDiarioDiv.innerHTML = totalDiarioHTML;
      }

      // Total Mensual por Producto
      const totalMensualDiv = document.getElementById("total-mensual");
      if (totalMensualDiv) {
        let totalMensualHTML = "";
        if (data.total_mensual && data.total_mensual.length > 0) {
          data.total_mensual.forEach(item => {
            totalMensualHTML += `
            <div class="pesaje-item">
              <strong>${item.producto}:</strong>
              <span>${item.total_mensual} kg</span>
            </div>`;
          });
        } else {
          totalMensualHTML = "<p>No hay datos disponibles para el total mensual por producto.</p>";
        }
        totalMensualDiv.innerHTML = totalMensualHTML;
      }

      // Total Hoja Verde
      const hojaVerdeDiv = document.getElementById("total-hoja-verde");
      if (hojaVerdeDiv) {
        const hojaVerdeDiario = data.total_hoja_verde_diario || 0;
        const hojaVerdeMensual = data.total_hoja_verde_mensual || 0;

        hojaVerdeDiv.innerHTML = `
          <div class="pesaje-item">
            <strong>Ingreso Diario:</strong>
            <span>${hojaVerdeDiario} kg</span>
          </div>
          <div class="pesaje-item">
            <strong>Acumulado Mensual:</strong>
            <span>${hojaVerdeMensual} kg</span>
          </div>`;
      }

      // Cálculo del rendimiento
      const rendimientoDiv = document.getElementById("Rendimiento");
      // console.log(rendimientoDiv);
      if (rendimientoDiv) {
        const totalMensual = data.total_mensual.reduce((acc, item) => acc + parseFloat(item.total_mensual || 0), 0);
        const hojaVerdeMensual = data.total_hoja_verde_mensual || 0;
        // console.log(totalMensual,hojaVerdeMensual);
        
        // Asegurarse de que no se divida por cero
        const rendimiento = totalMensual > 0 ? ((totalMensual /hojaVerdeMensual )*100).toFixed(2) : 0;
        rendimientoDiv.innerHTML = `
          <div class="pesaje-item">
            <strong>Rendimiento:</strong>
            <span>${rendimiento} %</span>
          </div>`;
      }

      console.log("Estadísticas actualizadas correctamente.");
    })
    .catch(error => console.error('Error al actualizar las estadísticas:', error));
}


  </script>
  {% endblock %}