{% extends "base.html" %}


{% block content %}
<!-- <div class="container"> -->
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

<div id="toastTemplate" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true"
    style="display: none;">
    <div class="d-flex">
        <div class="toast-body">
            <strong id="toastTitle" class="me-auto"></strong>
            <div id="toastBody"></div>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<h1 class="text-center">Gestión de Contratistas</h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                {{ 'Nuevo Contratista' if not contratista_editado else 'Editar Contratista' }}
            </div>
            <div class="card-body">
                <form id="formularioContratista" method="POST"
                    action="{% if contratista_editado %}/editar_contratista/{{ contratista_editado[0] }}{% else %}/crear_contratista{% endif %}">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            value="{{ contratista_editado[1] if contratista_editado else '' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="cuit" class="form-label">CUIT</label>
                        <input type="text" class="form-control" id="cuit" name="cuit"
                            value="{{ contratista_editado[2] if contratista_editado else '' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select class="form-control" id="categoria" name="categoria" required>
                            <option value="VIVERO" {% if contratista_editado and contratista_editado[3]=='VIVERO'
                                %}selected{% endif %}>VIVERO</option>
                            <option value="FORESTAL" {% if contratista_editado and contratista_editado[3]=='FORESTAL'
                                %}selected{% endif %}>FORESTAL</option>
                            <option value="INDUSTRIA" {% if contratista_editado and contratista_editado[3]=='INDUSTRIA'
                                %}selected{% endif %}>INDUSTRIA</option>
                            <option value="TRANSPORTISTA" {% if contratista_editado and
                                contratista_editado[3]=='TRANSPORTISTA' %}selected{% endif %}>TRANSPORTISTA</option>
                            <option value="YERBA" {% if contratista_editado and contratista_editado[3]=='YERBA'
                                %}selected{% endif %}>YERBA</option>
                            <option value="SECADERO" {% if contratista_editado and contratista_editado[3]=='SECADERO'
                                %}selected{% endif %}>SECADERO</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="habilitado" class="form-label">Habilitado</label>
                        <input type="checkbox" class="form-check-input" id="habilitado" name="habilitado" {% if
                            contratista_editado and contratista_editado[4]==1 %}checked{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'Guardar Cambios' if contratista_editado else
                        'Crear Contratista' }}</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Listado de Contratistas
            </div>
            <div class="table-responsive mt-3">
                <table id="contratistas" class="table table-striped table-bordered table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>CUIT</th>
                            <th>Categoría</th>
                            <th>Habilitado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contratista in contratistas %}
                        <tr>
                            <td>{{ contratista[0] }}</td>
                            <td>{{ contratista[1] }}</td>
                            <td>{{ contratista[2] }}</td>
                            <td>{{ contratista[3] }}</td>
                            <td>{{ 'Sí' if contratista[4] == 1 else 'No' }}</td>
                            <td>
                                <button class="btn btn-outline-success btn-sm edit-contratista"
                                    data-id="{{ contratista[0] }}" data-nombre="{{ contratista[1] }}"
                                    data-cuit="{{ contratista[2] }}" data-categoria="{{ contratista[3] }}"
                                    data-habilitado="{{ contratista[4] }}">
                                    <i class="bi bi-pencil"></i></button>
                                <button href="#" class="btn btn-outline-danger btn-sm delete-contratista"
                                    data-id="{{ contratista[0] }}">
                                    <i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este contratista?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='/js/toast.js') }}"></script>
<script src="{{ url_for('static', filename='Datatables/js/dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='Datatables/js/buttons.print.min.js') }}"></script>
<script>
    $(document).ready(function () {
        var deleteContratistaId = null;
        // var table = $('#contratistas').DataTable();
        // lee la fila actual y saca el id del contratista
        // $('#contratistas tbody').on('click', 'tr', function () {
        //     var data = table.row(this).data();
        //     if (data) {                
        //         $('#nombre').val(data[1]);
        //         $('#cuit').val(data[2]);
        //         $('#categoria').val(data[3]);
        //         $('#habilitado').prop('checked', habilitado);
        //         $('#formularioContratista').attr('action', '/editar_contratista/' + data[0]);           
        //     }
        // });
        //configuracion datatable
        $('#contratistas').DataTable({
            "language": { "url": '{{ url_for("static", filename="Datatables/plug-ins/es-ES.json") }}',
            "responsive" :true,
            "paginate": {
                        "first": "&laquo;&laquo;", // símbolo de primero
                        "last": "&raquo;&raquo;", // símbolo de último
                        "previous": "&lt;", // símbolo de anterior
                        "next": "&gt;" // símbolo de siguiente
                    }
            },
            "paging": true,
            "searching": true,
            "ordering": true,
            "lengthChange": true,
            "pageLength": 10,
            "resposive": true,
            "dom": 'Bfrtip',
            "buttons": ['csv', 'excel', 'pdf', 'copy', 'print', 'pageLength'],
            "select": true
        });
        // Manejar la eliminación de un contratista
        $('.delete-contratista').click(function (e) {
            e.preventDefault();
            deleteContratistaId = $(this).data('id');
            var modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            modal.show();
        });

        $('#confirmDeleteButton').click(function () {
            if (deleteContratistaId) {
                $.ajax({
                    url: '/eliminar_contratista/' + deleteContratistaId,
                    type: 'DELETE',
                    success: function (response) {
                        var bsToast = showToast(response.message, 'success');
                        bsToast._element.addEventListener('hidden.bs.toast', function () {
                            location.reload();
                        });
                    },
                    error: function (xhr) {
                        var response = xhr.responseJSON;
                        showToast(response.message || 'Ha ocurrido un error', 'danger');
                    }
                });
                var modal = bootstrap.Modal.getInstance(document.getElementById('confirmDeleteModal'));
                modal.hide();
            }
        });

        // Manejar la respuesta del formulario de creación/edición
        $('#formularioContratista').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    var bsToast = showToast(response.message, 'success');
                    bsToast._element.addEventListener('hidden.bs.toast', function () {
                        location.reload();
                    });
                    form.trigger('reset');
                    form.attr('action', '/crear_contratista'); // Restablecer la acción del formulario a la creación
                },
                error: function (xhr) {
                    var response = xhr.responseJSON;
                    showToast(response.message || 'Ha ocurrido un error', 'danger');
                }
            });
        });

        // Manejar la edición de un contratista
        $('.edit-contratista').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            var cuit = $(this).data('cuit');
            var categoria = $(this).data('categoria');
            var habilitado = $(this).data('habilitado') == 1;

            $('#nombre').val(nombre);
            $('#cuit').val(cuit);
            $('#categoria').val(categoria);
            $('#habilitado').prop('checked', habilitado);
            $('#formularioContratista').attr('action', '/editar_contratista/' + id);

            var btnSuccess = $('#formularioContratista').find('.btn-primary');

            if (btnSuccess.text().trim() === 'Crear Contratista') {
                btnSuccess.text('Guardar Cambios');
            } else {
                btnSuccess.text('Crear Contratista');
                // Limpiar el formulario
                $('#nombre').val('');
                $('#cuit').val('');
                $('#categoria').val('');
                $('#habilitado').prop('checked', false);
                $('#formularioContratista').attr('action', '/crear_contratista'); // Ajusta la acción según sea necesario
            }


        });


    });
</script>
{% endblock %}